.config/nvim/plugged/
.config/nvim/undodir/
.config/nvim/viewdir/
.config/nvim/sys_init.vim
.config/nvim/.netrwhist
.config/fish/fish_variables
.config/nvim/autoload/
.config/fish/sys_config.fish
.vim/.netrwhist
.vim/sys_init.vim
.config/tmux/sys_tmux.conf
